<div class="d-flex flex-column a-bg-f5f a-template-container">

    <!-- Notifications sticky bar -->
    <div class="bar a-notification a-notification-hide a-transition-500ms" data-hide="3">
                <span class="notification-content">
                    <span id="notification-text" class="text-left"></span>
                </span>
        <div class="a-countdown-wrapper">
        </div>
    </div>

    <!-- Header -->
    <div class="a-header a-hfn-header-container d-flex align-items-center justify-content-between a-px-20">
        <div class="d-flex align-items-center">
            <div class="a-pwc-logo a-md"></div>
            <span class="divider a-mx-20"></span>
            <div class="font-weight-medium a-nowrap" onclick="location.href='/'">PwC Transfer Pricing Web Scraper</div>
            <span class="divider a-mx-20"></span>
        </div>


                        <li class="user-infor-list-item active-link"><a href="preproc">PwC Transfer Pricing Web Scraper</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>